*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("/background.jpeg") ;
}
h1{
    font-family: sans-serif;
    font-size: 70px;
    font-weight: 900;
    text-align: center;
    margin-top: 50px;
    color: rgba(62, 42, 42, 0.91);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 13%;
}
img{
    height: 50%;
    width: 50%;
    transition: 1s;
    margin-top: 5%;
}
h3{
    font-size: 30px;
    margin-left: 5%;
    color: rgba(37, 37, 37, 0.807);
}
.winner{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    color: rgba(157, 13, 13, 0.746);
}